package archetype.batch.dao;

import org.springframework.jdbc.core.JdbcTemplate;

import archetype.batch.bean.ConfigurationBean;

import java.text.ParseException;
import java.util.Date;
import java.util.HashMap;
import java.util.List;

/**
 * @author Ernesto G
 */
public interface OriginDAO {

}